@charset "utf-8";

.bgd_white_10pc{
	background:  rgba(255, 255, 255, 0.1);
}
.bgd_white_20pc{
	background:  rgba(255, 255, 255, 0.2);
}
.bgd_white_30pc{
	background:  rgba(255, 255, 255, 0.3);
}
.bgd_white_40pc{
	background:  rgba(255, 255, 255, 0.4);
}
.bgd_white_50pc{
	background:  rgba(255, 255, 255, 0.5);
}
.bgd_white_60pc{
	background:  rgba(255, 255, 255, 0.6);
}
.bgd_white_70pc{
	background:  rgba(255, 255, 255, 0.7);
}
.bgd_white_80pc{
	background:  rgba(255, 255, 255, 0.8);
}
.bgd_white_90pc{
	background:  rgba(255, 255, 255, 0.9);
}